body {
    margin: 0;
    background-image: url(./assets/background.png);
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(199, 208, 217);
}

.entry, .profile{
    margin: 0 auto;
    width: 60%;
    height: 40%;
    border-radius: 6px;
    background: rgba(86, 132, 144, 0.4);
    border: 1px solid rgba(36, 54, 64, 0.2);
    box-shadow: 5px 5px 6px #3d93a4, -5px -5px 6px #4dbbd0;
    margin-top: 13%;
}

#generalTitle{
    font-size: 35px;
    display: inline;
    margin-left: 28%;
    margin-top: 0;
    color: #4dbbd0;
}

#titleProfile{
    text-align: center;
    color: #4dbbd0;
    font-size: 35px;
}

#icon{
    width: 8%;
    height: 8%;
    margin-top: 2%;
}

.hello{
    width: 5%;
    height: 1%;
}

#titleAccount{
    margin-top: 2%;
}

#fullName, #titleNumberAccount, #titleBalance, #titleAmount{
    color: #4dbbd0;
}

label, input {
    margin: 0 auto;
    width: fit-content;
    display: block;
    margin-bottom: 1%;
}

#resetBtn {
    margin-left: 34%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#validateBtn {
    margin-left: 1%;
}

input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: .8vw;
    text-align: center;
    color: #000000;
    background-color: rgb(136, 178, 180);
    box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
}

input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

input:focus {
    box-shadow: 0 0 0 .15vw rgb(69, 166, 204);
}

button {
    font-size: 15px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgb(15, 120, 147);
    color: white;
    border-radius: 4px;
    width: 15%;
}

button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(5, 71, 82) 0%, rgb(36, 61, 72) 100%);
}

button:active {
    transform: translate(0em, 0.1em);
}

#returnBtn{
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 1%;
}

#enterAmountBtn{
    margin-right: 1%;
}
